## Data preparation and cleaning

In [5]:
import pandas as pd
import sqlite3

In [6]:
# Load the dataset
dataset_path = 'Customer_support_data.csv'  # Make sure the file path matches where you've uploaded your file in Colab
data = pd.read_csv(dataset_path)

# Optionally rename columns for consistency or clarity (example provided)
data.rename(columns={'Customer Remarks': 'Customer_Remarks', 'CSAT Score': 'CSAT_Score'}, inplace=True)

# Print the first few rows of the dataset to confirm it's loaded correctly
print("First few rows of the dataset:")
print(data.head())

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('customer_support.db')

# Create a table named 'customer_support' and import the DataFrame into the database
# If the table already exists, 'replace' it
data.to_sql('customer_support', conn, if_exists='replace', index=False)

# Using a cursor to query the database and print each row in the 'customer_support' table
cur = conn.cursor()
print("\nSample rows from the 'customer_support' table:")
for row in cur.execute('SELECT * FROM customer_support LIMIT 5'):  # Adjust the LIMIT for more or fewer rows
    print(row)

# Close the connection to the database
conn.close()

# Confirm that the database operations are complete
print("\nDatabase operations completed successfully.")

First few rows of the dataset:
                              Unique id channel_name         category  \
0  7e9ae164-6a8b-4521-a2d4-58f7c9fff13f      Outcall  Product Queries
1  b07ec1b0-f376-43b6-86df-ec03da3b2e16      Outcall  Product Queries
2  200814dd-27c7-4149-ba2b-bd3af3092880      Inbound    Order Related
3  eb0d3e53-c1ca-42d3-8486-e42c8d622135      Inbound          Returns
4  ba903143-1e54-406c-b969-46c52f92e5df      Inbound     Cancellation

                   Sub-category Customer_Remarks  \
0                Life Insurance              NaN
1  Product Specific Information              NaN
2             Installation/demo              NaN
3        Reverse Pickup Enquiry              NaN
4                    Not Needed              NaN

                               Order_id order_date_time Issue_reported at  \
0  c27c9bb4-fa36-4140-9f1f-21009254ffdb             NaN  01/08/2023 11:13
1  d406b0c7-ce17-4654-b9de-f08d421254bd             NaN  01/08/2023 12:52
2  c273368d-b961-44cb-beaf-62d6fd6c00d5             NaN  01/08/2023 20:16
3  5aed0059-55a4-4ec6-bb54-97942092020a             NaN  01/08/2023 20:56
4  e8bed5a9-6933-4aff-9dc6-ccefd7dcde59             NaN  01/08/2023 10:30

    issue_responded Survey_response_Date Customer_City Product_category  \
0  01/08/2023 11:47            01-Aug-23           NaN              NaN
1  01/08/2023 12:54            01-Aug-23           NaN              NaN
2  01/08/2023 20:38            01-Aug-23           NaN              NaN
3  01/08/2023 21:16            01-Aug-23           NaN              NaN
4  01/08/2023 10:32            01-Aug-23           NaN              NaN

   Item_price  connected_handling_time           Agent_name      Supervisor  \
0         NaN                      NaN     Richard Buchanan     Mason Gupta
1         NaN                      NaN        Vicki Collins       Dylan Kim
2         NaN                      NaN         Duane Norman    Jackson Park
3         NaN                      NaN       Patrick Flores     Olivia Wang
4         NaN                      NaN  Christopher Sanchez  Austin Johnson

           Manager    Tenure Bucket Agent Shift  CSAT_Score
0  Jennifer Nguyen  On Job Training     Morning           5
1      Michael Lee              >90     Morning           5
2      William Kim  On Job Training     Evening           5
3       John Smith              >90     Evening           5
4      Michael Lee             0-30     Morning           5

Sample rows from the 'customer_support' table:
('7e9ae164-6a8b-4521-a2d4-58f7c9fff13f', 'Outcall', 'Product Queries', 'Life Insurance', None, 'c27c9bb4-fa36-4140-9f1f-21009254ffdb', None, '01/08/2023 11:13', '01/08/2023 11:47', '01-Aug-23', None, None, None, None, 'Richard Buchanan', 'Mason Gupta', 'Jennifer Nguyen', 'On Job Training', 'Morning', 5)
('b07ec1b0-f376-43b6-86df-ec03da3b2e16', 'Outcall', 'Product Queries', 'Product Specific Information', None, 'd406b0c7-ce17-4654-b9de-f08d421254bd', None, '01/08/2023 12:52', '01/08/2023 12:54', '01-Aug-23', None, None, None, None, 'Vicki Collins', 'Dylan Kim', 'Michael Lee', '>90', 'Morning', 5)
('200814dd-27c7-4149-ba2b-bd3af3092880', 'Inbound', 'Order Related', 'Installation/demo', None, 'c273368d-b961-44cb-beaf-62d6fd6c00d5', None, '01/08/2023 20:16', '01/08/2023 20:38', '01-Aug-23', None, None, None, None, 'Duane Norman', 'Jackson Park', 'William Kim', 'On Job Training', 'Evening', 5)
('eb0d3e53-c1ca-42d3-8486-e42c8d622135', 'Inbound', 'Returns', 'Reverse Pickup Enquiry', None, '5aed0059-55a4-4ec6-bb54-97942092020a', None, '01/08/2023 20:56', '01/08/2023 21:16', '01-Aug-23', None, None, None, None, 'Patrick Flores', 'Olivia Wang', 'John Smith', '>90', 'Evening', 5)
('ba903143-1e54-406c-b969-46c52f92e5df', 'Inbound', 'Cancellation', 'Not Needed', None, 'e8bed5a9-6933-4aff-9dc6-ccefd7dcde59', None, '01/08/2023 10:30', '01/08/2023 10:32', '01-Aug-23', None, None, None, None, 'Christopher Sanchez', 'Austin Johnson', 'Michael Lee', '0-30', 'Morning', 5)

Database operations completed successfully.

In [7]:
# Connect to the SQLite database
conn = sqlite3.connect('customer_support.db')

# Load data from the customer_support table into a DataFrame
customer_support_df = pd.read_sql_query("SELECT * FROM customer_support", conn)

# Print DataFrame information to get a summary including the number of non-null entries per column
print("DataFrame Information:")
print(customer_support_df.info())

# Generate and print descriptive statistics for numeric columns
print("\nDescriptive Statistics:")
print(customer_support_df.describe())

# Print the first few rows of the DataFrame to get an idea of the data structure
print("\nFirst 5 Rows of the DataFrame:")
print(customer_support_df.head())

# Count and print the number of missing values in each column
print("\nCount of Null Values in Each Column:")
print(customer_support_df.isnull().sum())

num_rows_no_nulls = customer_support_df.dropna().shape[0]
print(f"Number of rows with no null values: {num_rows_no_nulls}")

total_rows = customer_support_df.shape[0]
print(f"Total number of rows: {total_rows}")
# Close the database connection
conn.close()

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unique id                85907 non-null  object
 1   channel_name             85907 non-null  object
 2   category                 85907 non-null  object
 3   Sub-category             85907 non-null  object
 4   Customer_Remarks         28742 non-null  object
 5   Order_id                 67675 non-null  object
 6   order_date_time          17214 non-null  object
 7   Issue_reported at        85907 non-null  object
 8   issue_responded          85907 non-null  object
 9   Survey_response_Date     85907 non-null  object
 10  Customer_City            17079 non-null  object
 11  Product_category         17196 non-null  object
 12  Item_price               17206 non-null  float64
 13  connected_handling_time  242 non-null    float64
 14  Agent_name               85907 non-null  object
 15  Supervisor               85907 non-null  object
 16  Manager                  85907 non-null  object
 17  Tenure Bucket            85907 non-null  object
 18  Agent Shift              85907 non-null  object
 19  CSAT_Score               85907 non-null  int64
dtypes: float64(2), int64(1), object(17)
memory usage: 13.1+ MB
None

Descriptive Statistics:
          Item_price  connected_handling_time    CSAT_Score
count   17206.000000               242.000000  85907.000000
mean     5660.774846               462.400826      4.242157
std     12825.728411               246.295037      1.378903
min         0.000000                 0.000000      1.000000
25%       392.000000               293.000000      4.000000
50%       979.000000               427.000000      5.000000
75%      2699.750000               592.250000      5.000000
max    164999.000000              1986.000000      5.000000

First 5 Rows of the DataFrame:
                              Unique id channel_name         category  \
0  7e9ae164-6a8b-4521-a2d4-58f7c9fff13f      Outcall  Product Queries
1  b07ec1b0-f376-43b6-86df-ec03da3b2e16      Outcall  Product Queries
2  200814dd-27c7-4149-ba2b-bd3af3092880      Inbound    Order Related
3  eb0d3e53-c1ca-42d3-8486-e42c8d622135      Inbound          Returns
4  ba903143-1e54-406c-b969-46c52f92e5df      Inbound     Cancellation

                   Sub-category Customer_Remarks  \
0                Life Insurance             None
1  Product Specific Information             None
2             Installation/demo             None
3        Reverse Pickup Enquiry             None
4                    Not Needed             None

                               Order_id order_date_time Issue_reported at  \
0  c27c9bb4-fa36-4140-9f1f-21009254ffdb            None  01/08/2023 11:13
1  d406b0c7-ce17-4654-b9de-f08d421254bd            None  01/08/2023 12:52
2  c273368d-b961-44cb-beaf-62d6fd6c00d5            None  01/08/2023 20:16
3  5aed0059-55a4-4ec6-bb54-97942092020a            None  01/08/2023 20:56
4  e8bed5a9-6933-4aff-9dc6-ccefd7dcde59            None  01/08/2023 10:30

    issue_responded Survey_response_Date Customer_City Product_category  \
0  01/08/2023 11:47            01-Aug-23          None             None
1  01/08/2023 12:54            01-Aug-23          None             None
2  01/08/2023 20:38            01-Aug-23          None             None
3  01/08/2023 21:16            01-Aug-23          None             None
4  01/08/2023 10:32            01-Aug-23          None             None

   Item_price  connected_handling_time           Agent_name      Supervisor  \
0         NaN                      NaN     Richard Buchanan     Mason Gupta
1         NaN                      NaN        Vicki Collins       Dylan Kim
2         NaN                      NaN         Duane Norman    Jackson Park
3         NaN                      NaN       Patrick Flores     Olivia Wang
4         NaN                      NaN  Christopher Sanchez  Austin Johnson

           Manager    Tenure Bucket Agent Shift  CSAT_Score
0  Jennifer Nguyen  On Job Training     Morning           5
1      Michael Lee              >90     Morning           5
2      William Kim  On Job Training     Evening           5
3       John Smith              >90     Evening           5
4      Michael Lee             0-30     Morning           5

Count of Null Values in Each Column:
Unique id                      0
channel_name                   0
category                       0
Sub-category                   0
Customer_Remarks           57165
Order_id                   18232
order_date_time            68693
Issue_reported at              0
issue_responded                0
Survey_response_Date           0
Customer_City              68828
Product_category           68711
Item_price                 68701
connected_handling_time    85665
Agent_name                     0
Supervisor                     0
Manager                        0
Tenure Bucket                  0
Agent Shift                    0
CSAT_Score                     0
dtype: int64
Number of rows with no null values: 38
Total number of rows: 85907

In [8]:
# Assuming your dataframe is named 'customer_support_df' and has been loaded correctly

# Convert the columns to datetime
customer_support_df['order_date_time'] = pd.to_datetime(customer_support_df['order_date_time'], dayfirst=True)
customer_support_df['Issue_reported at'] = pd.to_datetime(customer_support_df['Issue_reported at'],dayfirst=True)
customer_support_df['issue_responded'] = pd.to_datetime(customer_support_df['issue_responded'],dayfirst=True)
customer_support_df['Survey_response_Date'] = pd.to_datetime(customer_support_df['Survey_response_Date'],dayfirst=True)

# Calculate response time (in whatever time unit is appropriate, e.g., minutes)
customer_support_df['response_time_minutes'] = (customer_support_df['issue_responded'] - customer_support_df['Issue_reported at']).dt.total_seconds() / 60

# Extract hour of day for order and issue reported time
customer_support_df['order_hour_of_day'] = customer_support_df['order_date_time'].dt.hour
customer_support_df['issue_reported_hour_of_day'] = customer_support_df['Issue_reported at'].dt.hour

# Extract day of the week (0=Monday, 6=Sunday)
customer_support_df['order_day_of_week'] = customer_support_df['order_date_time'].dt.dayofweek
customer_support_df['issue_reported_day_of_week'] = customer_support_df['Issue_reported at'].dt.dayofweek

# Calculate elapsed time from order to survey response (in days)
customer_support_df['elapsed_days_to_survey'] = (customer_support_df['Survey_response_Date'] - customer_support_df['order_date_time']).dt.total_seconds() / (60 * 60 * 24)

# Now, your dataframe will have the new columns with the calculated data
# Print DataFrame information to get a summary including the number of non-null entries per column
print("DataFrame Information:")
print(customer_support_df.info())

# Generate and print descriptive statistics for numeric columns
print("\nDescriptive Statistics:")
print(customer_support_df.describe())

# Print the first few rows of the DataFrame to get an idea of the data structure
print("\nFirst 5 Rows of the DataFrame:")
print(customer_support_df.head())

# Count and print the number of missing values in each column
print("\nCount of Null Values in Each Column:")
print(customer_support_df.isnull().sum())

num_rows_no_nulls = customer_support_df.dropna().shape[0]
print(f"Number of rows with no null values: {num_rows_no_nulls}")

total_rows = customer_support_df.shape[0]
print(f"Total number of rows: {total_rows}")
# Close the database connection
conn.close()

C:\Users\matth\AppData\Local\Temp\ipykernel_16512\4283915004.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  customer_support_df['Survey_response_Date'] = pd.to_datetime(customer_support_df['Survey_response_Date'],dayfirst=True)

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unique id                   85907 non-null  object
 1   channel_name                85907 non-null  object
 2   category                    85907 non-null  object
 3   Sub-category                85907 non-null  object
 4   Customer_Remarks            28742 non-null  object
 5   Order_id                    67675 non-null  object
 6   order_date_time             17214 non-null  datetime64[ns]
 7   Issue_reported at           85907 non-null  datetime64[ns]
 8   issue_responded             85907 non-null  datetime64[ns]
 9   Survey_response_Date        85907 non-null  datetime64[ns]
 10  Customer_City               17079 non-null  object
 11  Product_category            17196 non-null  object
 12  Item_price                  17206 non-null  float64
 13  connected_handling_time     242 non-null    float64
 14  Agent_name                  85907 non-null  object
 15  Supervisor                  85907 non-null  object
 16  Manager                     85907 non-null  object
 17  Tenure Bucket               85907 non-null  object
 18  Agent Shift                 85907 non-null  object
 19  CSAT_Score                  85907 non-null  int64
 20  response_time_minutes       85907 non-null  float64
 21  order_hour_of_day           17214 non-null  float64
 22  issue_reported_hour_of_day  85907 non-null  int32
 23  order_day_of_week           17214 non-null  float64
 24  issue_reported_day_of_week  85907 non-null  int32
 25  elapsed_days_to_survey      17214 non-null  float64
dtypes: datetime64[ns](4), float64(6), int32(2), int64(1), object(13)
memory usage: 16.4+ MB
None

Descriptive Statistics:
                     order_date_time              Issue_reported at  \
count                          17214                          85907
mean   2023-07-28 15:49:45.820843520  2023-08-16 22:29:05.784394752
min              2022-01-16 13:15:00            2023-07-28 20:42:00
25%              2023-07-27 22:49:15            2023-08-09 12:48:00
50%              2023-08-04 22:16:30            2023-08-16 18:22:00
75%              2023-08-10 07:30:15            2023-08-24 17:33:30
max              2023-12-08 23:36:00            2023-08-31 23:58:00
std                              NaN                            NaN

                     issue_responded           Survey_response_Date  \
count                          85907                          85907
mean   2023-08-17 00:45:58.980990976  2023-08-16 10:18:31.760392192
min              2023-08-01 00:00:00            2023-08-01 00:00:00
25%              2023-08-09 15:02:30            2023-08-09 00:00:00
50%              2023-08-16 20:57:00            2023-08-16 00:00:00
75%              2023-08-24 19:27:00            2023-08-24 00:00:00
max              2023-08-31 23:59:00            2023-08-31 00:00:00
std                              NaN                            NaN

          Item_price  connected_handling_time    CSAT_Score  \
count   17206.000000               242.000000  85907.000000
mean     5660.774846               462.400826      4.242157
min         0.000000                 0.000000      1.000000
25%       392.000000               293.000000      4.000000
50%       979.000000               427.000000      5.000000
75%      2699.750000               592.250000      5.000000
max    164999.000000              1986.000000      5.000000
std     12825.728411               246.295037      1.378903

       response_time_minutes  order_hour_of_day  issue_reported_hour_of_day  \
count           85907.000000       17214.000000                85907.000000
mean              136.886610          14.349773                   14.583177
min             -1437.000000           0.000000                    0.000000
25%                 2.000000          10.000000                   11.000000
50%                 5.000000          15.000000                   15.000000
75%                35.000000          19.000000                   19.000000
max              5758.000000          23.000000                   23.000000
std               592.528551           5.963974                    5.002535

       order_day_of_week  issue_reported_day_of_week  elapsed_days_to_survey
count       17214.000000                85907.000000            17214.000000
mean            3.082491                    2.840455               17.467432
min             0.000000                    0.000000             -103.983333
25%             1.000000                    1.000000                5.299306
50%             3.000000                    3.000000                8.721181
75%             5.000000                    5.000000               15.153993
max             6.000000                    6.000000              583.586806
std             1.989791                    1.955829               40.623875

First 5 Rows of the DataFrame:
                              Unique id channel_name         category  \
0  7e9ae164-6a8b-4521-a2d4-58f7c9fff13f      Outcall  Product Queries
1  b07ec1b0-f376-43b6-86df-ec03da3b2e16      Outcall  Product Queries
2  200814dd-27c7-4149-ba2b-bd3af3092880      Inbound    Order Related
3  eb0d3e53-c1ca-42d3-8486-e42c8d622135      Inbound          Returns
4  ba903143-1e54-406c-b969-46c52f92e5df      Inbound     Cancellation

                   Sub-category Customer_Remarks  \
0                Life Insurance             None
1  Product Specific Information             None
2             Installation/demo             None
3        Reverse Pickup Enquiry             None
4                    Not Needed             None

                               Order_id order_date_time   Issue_reported at  \
0  c27c9bb4-fa36-4140-9f1f-21009254ffdb             NaT 2023-08-01 11:13:00
1  d406b0c7-ce17-4654-b9de-f08d421254bd             NaT 2023-08-01 12:52:00
2  c273368d-b961-44cb-beaf-62d6fd6c00d5             NaT 2023-08-01 20:16:00
3  5aed0059-55a4-4ec6-bb54-97942092020a             NaT 2023-08-01 20:56:00
4  e8bed5a9-6933-4aff-9dc6-ccefd7dcde59             NaT 2023-08-01 10:30:00

      issue_responded Survey_response_Date  ...          Manager  \
0 2023-08-01 11:47:00           2023-08-01  ...  Jennifer Nguyen
1 2023-08-01 12:54:00           2023-08-01  ...      Michael Lee
2 2023-08-01 20:38:00           2023-08-01  ...      William Kim
3 2023-08-01 21:16:00           2023-08-01  ...       John Smith
4 2023-08-01 10:32:00           2023-08-01  ...      Michael Lee

     Tenure Bucket  Agent Shift  CSAT_Score response_time_minutes  \
0  On Job Training      Morning           5                  34.0
1              >90      Morning           5                   2.0
2  On Job Training      Evening           5                  22.0
3              >90      Evening           5                  20.0
4             0-30      Morning           5                   2.0

  order_hour_of_day issue_reported_hour_of_day order_day_of_week  \
0               NaN                         11               NaN
1               NaN                         12               NaN
2               NaN                         20               NaN
3               NaN                         20               NaN
4               NaN                         10               NaN

  issue_reported_day_of_week  elapsed_days_to_survey
0                          1                     NaN
1                          1                     NaN
2                          1                     NaN
3                          1                     NaN
4                          1                     NaN

[5 rows x 26 columns]

Count of Null Values in Each Column:
Unique id                         0
channel_name                      0
category                          0
Sub-category                      0
Customer_Remarks              57165
Order_id                      18232
order_date_time               68693
Issue_reported at                 0
issue_responded                   0
Survey_response_Date              0
Customer_City                 68828
Product_category              68711
Item_price                    68701
connected_handling_time       85665
Agent_name                        0
Supervisor                        0
Manager                           0
Tenure Bucket                     0
Agent Shift                       0
CSAT_Score                        0
response_time_minutes             0
order_hour_of_day             68693
issue_reported_hour_of_day        0
order_day_of_week             68693
issue_reported_day_of_week        0
elapsed_days_to_survey        68693
dtype: int64
Number of rows with no null values: 38
Total number of rows: 85907

In [9]:
# Drop the columns with high null values
customer_support_df.drop(columns=[
    'order_date_time',
    'order_hour_of_day',
    'order_day_of_week',
    'elapsed_days_to_survey',
    'Order_id',
    'Customer_City',
    'Item_price',
    'connected_handling_time',
    'Product_category'
], inplace=True)

# Print the remaining columns and the count of null values in each
print("Remaining columns and the number of null values in each:")
print(customer_support_df.isnull().sum())

num_rows_no_nulls = customer_support_df.dropna().shape[0]
print(f"Number of rows with no null values: {num_rows_no_nulls}")

Remaining columns and the number of null values in each:
Unique id                         0
channel_name                      0
category                          0
Sub-category                      0
Customer_Remarks              57165
Issue_reported at                 0
issue_responded                   0
Survey_response_Date              0
Agent_name                        0
Supervisor                        0
Manager                           0
Tenure Bucket                     0
Agent Shift                       0
CSAT_Score                        0
response_time_minutes             0
issue_reported_hour_of_day        0
issue_reported_day_of_week        0
dtype: int64
Number of rows with no null values: 28742

In [10]:
# Assuming your original DataFrame is named 'customer_support_df'

# Filter the DataFrame to include only rows with no missing values
complete_cases_df = customer_support_df.dropna()

# Connect to a new SQLite database (this will create the database if it doesn't exist)
conn = sqlite3.connect('cleaned_customer_support.db')

# Save the filtered DataFrame as a new table in the SQLite database
complete_cases_df.to_sql('cleaned_customer_support', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [11]:
# Connect to the SQLite database
conn = sqlite3.connect('cleaned_customer_support.db')

# Load the table into a pandas DataFrame
cleaned_df = pd.read_sql_query("SELECT * FROM cleaned_customer_support", conn)

# Print basic statistics of the cleaned database
print("Basic statistics of the cleaned database:")
print(cleaned_df.describe())

# Print information about the DataFrame
print("\nInformation about the DataFrame:")
cleaned_df.info()

# Close the database connection
conn.close()

Basic statistics of the cleaned database:
         CSAT_Score  response_time_minutes  issue_reported_hour_of_day  \
count  28742.000000           28742.000000                28742.000000
mean       4.073238             130.186835                   14.456718
std        1.560075             593.501462                    5.066173
min        1.000000           -1437.000000                    0.000000
25%        4.000000               2.000000                   11.000000
50%        5.000000               5.000000                   15.000000
75%        5.000000              29.000000                   19.000000
max        5.000000            5742.000000                   23.000000

       issue_reported_day_of_week
count                28742.000000
mean                     2.835050
std                      1.958646
min                      0.000000
25%                      1.000000
50%                      3.000000
75%                      5.000000
max                      6.000000

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28742 entries, 0 to 28741
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unique id                   28742 non-null  object
 1   channel_name                28742 non-null  object
 2   category                    28742 non-null  object
 3   Sub-category                28742 non-null  object
 4   Customer_Remarks            28742 non-null  object
 5   Issue_reported at           28742 non-null  object
 6   issue_responded             28742 non-null  object
 7   Survey_response_Date        28742 non-null  object
 8   Agent_name                  28742 non-null  object
 9   Supervisor                  28742 non-null  object
 10  Manager                     28742 non-null  object
 11  Tenure Bucket               28742 non-null  object
 12  Agent Shift                 28742 non-null  object
 13  CSAT_Score                  28742 non-null  int64
 14  response_time_minutes       28742 non-null  float64
 15  issue_reported_hour_of_day  28742 non-null  int64
 16  issue_reported_day_of_week  28742 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 3.7+ MB